[flake8]
max-line-length = 120
extend-ignore = 
    # I want to use lambda expressions
    E731,
    # Rule is incompatible with black
    E203
extend-exclude =
    # Defaults: .svn,CVS,.bzr,.hg,.git,__pycache__,.tox,.nox,.eggs,*.egg
    # No need to traverse following directories:
    .vscode,
    htmlcov
